# IntelliJ IDEA
.idea/*/*.xml
.idea/*.xml
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# configuration files
config/*
!config/*dist*

# required libraries
libs/**/*
!libs/oracle/ojdbc7.jar
!libs/multimedia/ordim.jar
!libs/multimedia/runtime12.jar
!libs/spatial/sdoapi.jar
!libs/spatial/sdotype.jar
!libs/spatial/sdoutl.jar
